body {
  padding-right: 24px;
}
main {
  display: flex;
  flex-direction: row;
}
.hero-left {
  margin-top: 200px;
  flex: 1;
}
.demo-picture {
  height: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.hero-right {
  margin-top: 240px;
  flex: 1;
}
.name {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
  color: #F9DB6D;
}
.description {
  font-size: 14px;
  padding-bottom: 80px;
}
.get-started-button {
  font-family: Montserrat, Arial;
  height: 36px;
  width: 130px;
  font-size: 14px;
  border-width: 0;
  border-radius: 18px;
  vertical-align: middle;
  justify-content: center;
  margin-right: 20px;
  background-color: #F9DB6D;
  font-weight: 600;
}
.learn-about-dark-patterns-button {
  font-family: Montserrat, Arial;
  height: 36px;
  width: 240px;
  font-size: 14px;
  border-width: 0;
  border-radius: 18px;
  padding-top: 0;
  vertical-align: middle;
  justify-content: center;
  background-color: #ffeeb0;
}